body{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	background-color: #3A3A3A;
	height: 100vh;
	text-align: center;
	color: #fff;
}
.logo img{
	margin-top: 120px;
	width: 25%;
}
.boton{
    margin-top: 40px;
}
#btn2{
	width: 50%;
	background-color: #f39e06;
	border-color: #f39e06;
	color: #fff;
	font-size: 18px;
	line-height: 2.50;
}
.boton a:hover{
	background-color: #fff;
	border-color: #fff;
}
#search-form, .form-control {
    margin-bottom: 20px;
}
.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid #e45343;
}