body{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	background-color: #D1D0CB;
	height: 100vh;
	text-align: center;
}
.logo img{
	margin-top: 100px;
	width: 35%;
}
.boton{
    margin-top: 40px;
}
.boton a{
	width: 50%;
	background-color: #B37405;
	border-color: #B37405;
	color: #fff;
	font-size: 20px;
	padding: 10px;
}